/* Nosso estilo css */

@charset "utf8";


.fundo-fixo{
    background:url(../imagem/pexels-allen-boguslavsky-1344061-17770035.jpg) no-repeat fixed center;
    -webkit-background-size:cover;
}
/**/

main{
    padding-top:80px;
    border-radius: 8px;
    background-color: rgba(255, 255, 255,0.1);
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 2);
}

nav{
    opacity: 0.9;
}

/* nav ul li a:hover{
    opacity: 0.5;
} */